@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 
    Paleda de cores:
    Azul: #36435D
    Bege: #D1C2A0
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body, html {
    background-color: #36435D;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;    
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: #D1C2A0;
    width: 270px;
    height: 500px;
    border-radius: 22px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);

    transition: width .3s, height .3s;
    transition-timing-function: ease-in-out;
}

section#login > div#imagem {
    display: block;
    background: url(../imagens/greece.jpg) no-repeat;
    background-size: cover;
    background-position: right bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

#formulario > p {
    font-size: 0.8em;
}

form > .campo {
    background-color: #36435D;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 12px;
    margin: 5px 0px;
}

form label {
    display: none;
}

div.campo > i {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #e2bc62;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 88%;
    transform: translateY(-39px) translateX(41px);
    border: 0px;
    border-radius: 10px;
    padding: 5px;
}

div.campo > input:focus-within {
    background-color: #D1C2A0;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: #36435D;
    background-color: #e4b546;
    border: none;
    border-radius: 10px;
    transition: .3s ease;
}

form > input[type=submit]:hover {
    font-weight: bold;
    background-color: #e4a81b;
    cursor: pointer;
    border-radius: 6px;
    transition: .3s ease;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 9px;
    margin-top: 5px;
    color: #36435D;
    background-color: #D1C2A0;
    border: 1px solid #e4a81b;
    border-radius: 10px;
    text-decoration: none;
}

form > a.botao:hover {
    font-weight: bold;
    background-color: #e4a81b;
    cursor: pointer;
    border-radius: 6px;
    transition: .3s ease;
}

form > a.botao > i {
    font-size: 0.8em;
}

